<ion-modal-view view-title="" class="positive-bg">
  <ion-content id="social-login">
    <div class="">
			<div class="item item-text-wrap positive-bg light">
				<div id="containerlight" style="border:0;">
          <img src="img/kb101-logo.svg" class="center" style="width:100px; height:100px; margin: 0 auto; display:block;">
          <h1 class="text-center light">No Internet Connection Detected</h1>
          <p class="text-center light">
            This program requires an internet connection in order to function. If you believe this is an error you may report it to <br/><br/><span class="text-bold">KidzForce's app development team at <a href="tel:18552672777">(855)-267-2777</a>.</span>
          </p>
				</div>
			</div>
		</div>
	</ion-content>
	<!--end login content section-->
</ion-modal-view>
