<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title positive">About</h1>
        <button class="button" ng-click="modal.hide()"><i class="ion-close-round"></i></button>
    </ion-header-bar>

    <ion-content class="padding" scroll="true">

        <h2 class="positive">About Us</h2>
        <p>KIDZFORCE is a service designed to connect neighbors and local children to projects and chores inside their communities while providing a level of safety by verifying identity and monitoring of dubious activities from the project poster.
        </p>
        <p>
            Our mobile application is designed to work directly with our website creating a seamless experience for the user and allows parents and guardians to keep a watchful eye on their children's activities while they earn some real cash and collect points with
            Kidz Force.
        </p>
        <p>
            For more information about us visit our website at www.kidzforce.com.
        </p>

        <h2 class="positive">Legal</h2>
        <p>This mobile appliction is protected by copyright laws and use is restricted to the terms outlined in our terms and conditions. We collect information on users for the purpose of providing an enhanced user experience and improving features related
            to this software. We may also provide this information to third parties for use in marketing excercises designed to improve your personalized experience with this application. Children under 13 years of age will not have information collected
            on them or information about them shared publicly. </p>
        <h2 class="positive">Third Party Integration</h2>
        <p>This mobile application contains third party integrations and use and licensing of these products is listed below</p><br>
        <p>Version: {{version}}</p>
        <p>Build: {{build}}</p>
        <br>
        <p>This mobile application was designed by Riveloper, LLC Atlanta, GA USA. Technical related issues regarding this product can be directed to info@riveloper.com. </p>
        <h2 class="positive">Contact Us</h2>
        <p>We take each of your concerns and questions seriously. If you would like to speak to a represantitve please call us at 800-111-1111. If you would like to remove your account or would like to permentatly delete all records associated with an account
            send your request along with your contact information to info@kidzforce.com. A representative will follow-up with you in 2-3 business days regarding this request.</p>


        <!--End About -->

    </ion-content>
</ion-modal-view>
