<ion-modal-view>
 <ion-header-bar class="bar bar-header bar-assertive">
  <!-- <div class="buttons">
          <button class="button button-clear icon ion-ios-arrow-left" ng-click="modal.hide()"></button>
        </div> -->
  <h1 class="title"></h1>
  <button class="button button-clear button-primary" ng-click="modal.hide()"><i class="icon-close"></i></button>
 </ion-header-bar>
  <ion-content>
    <table width="100%" border="0" align="center" cellpadding="20">
      <tbody>
        <tr>
          <td align="center" valign="middle"><p>&nbsp;</p>
            <h1>THIS FEATURE NOT YET AVAILABLE</h1>
          <p>You have attempted to retrieve or access a feature which is not currently available do to data security not yet included in this area. Once this feature is made available an update will be pushed to the server for continued testing. </p>
          <p>&nbsp;</p>
          <h3>RIVELOPER DEVELOPMENT<br>
            <br>
          </h3>
          <p>&nbsp;</p></td>
        </tr>
      </tbody>
    </table>
  </ion-content>
</ion-modal-view>