<ion-view hide-nav-bar="true" class="intro-view" cache-view="false">
    <ion-slide-box on-slide-changed="slideChanged($index)" ng-class="{'pager-page-0':slideIndex==0, 'pager-page-1':slideIndex==1, 'pager-page-2':slideIndex==2}" style="height: 100vh; width: 100%; margin:0px; padding:0px;">
        <!-- page 1 -->
        <ion-slide class="intro-page text-center positive-bg">
              
                
                    <h2 class="text-center assertive row intro-head">Neighbor’s post projects for Kids in the neighborhood.</h2>
    
                    <img src="img/slide-1.svg" class="intro-image text-center row animate zoomIn">
        
                    <h4 class="text-center light row intro-desc">Select either public for anyone or private posting for a chore.</h4>
              
        </ion-slide>

        <!-- page 2 -->
        <ion-slide class="intro-page text-center positive-bg">
            
   
                    <h2 class="text-center assertive row intro-head">Kids can earn real money and earn rewards.</h2>
             
                    <img src="img/slide-2.svg" class="intro-image text-center row animate zoomIn">
          
                    <h4 class="text-center light row intro-desc">Learn useful skills from the neighbors simply by doing everyday chores.</h4>
                
        
        </ion-slide>

        <!-- page 3 -->
        <ion-slide class="intro-page text-center positive-bg">
          
            
                    <h2 class="text-center assertive row intro-head">Kids earn even more by growing their own business.</h2>
      
                    <img src="img/slide-3.svg" class="intro-image row text-center animate zoomIn">
          
                    <h4 class="text-center intro-desc light row">Spread the word around town by posting flyer's, handing our cards and more.</h4>
            
                    <a href="#/login" class="button button-assertive intro-button">Get Started ></a>
               
            </div>
        </ion-slide>
    </ion-slide-box>
</ion-view>
